<article id="post-{{ post.id }}" class="{{ post.class }} prose">
	<header class="entry-header">
		<h2 class="entry-title">
			<a href="{{ post.permalink }}" rel="bookmark">
				{{ post.title }}
			</a>
		</h2>

		{% if 'post' = post.post_type %}
			<div class="entry-meta">
				{{ post.date }}
				<a href="{{ post.author.permalink }}">
					{{ post.author.name }}
				</a>
			</div>
		{% endif %}
	</header>

	<figure>
		<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" />
	</figure>

	<div class="entry-summary">
		{{ post.excerpt }}
	</div>
</article>